[submodule "grhUniBoards/libraries/souliss"]
	path = grhUniBoards/libraries/souliss
	url = ../souliss.git
[submodule "libraries/souliss"]
	path = libraries/souliss
	url = ../souliss.git
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = ../OneWire.git
